global !p
def classname_for_file():
    try:
        return ''.join(x.capitalize() or '_' for x in snip.basename.split('_'))
    except:
        return "ERR"

def classname_for_spec():
    try:
        return classname_for_file().replace('Spec', '')
    except:
        return "ERR"
endglobal

snippet based "Log a 750words.com session" b
750words.com: ${1:750} words in ${2:20} minutes - `!p
snip.rv = classname_for_spec()
` wpm. `!p snip.rv = 'a' `
endsnippet

