<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>085717A2-8D8F-44ED-8AD5-0D87844596A4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mdn</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>MDN</string>
			<key>url</key>
			<string>https://developer.mozilla.org/en-US/search?q={query}&amp;topic=apps&amp;topic=html&amp;topic=css&amp;topic=js&amp;topic=api&amp;topic=canvas&amp;topic=svg&amp;topic=webgl&amp;topic=mobile&amp;topic=webdev&amp;topic=http&amp;topic=webext</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A6BD87C3-D646-43E2-9AB0-882B7AE2C1D0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>inbox</string>
			<key>text</key>
			<string>Open Inbox</string>
			<key>url</key>
			<string>https://inbox.google.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D0ED57AE-A9DD-4FB9-875C-405EFD255FF8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>inbox</string>
			<key>text</key>
			<string>Inbox Search</string>
			<key>url</key>
			<string>https://inbox.google.com/u/0/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D62B2CE1-DFD7-49E8-BD6E-7DA72E512ADB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dribbble</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Dribbble for {query}</string>
			<key>url</key>
			<string>https://dribbble.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
